/* color palette being used: https://coolors.co/e1eef4-8ecae6-219ebc-023047-ffb703-fb8500 */
body {
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #e1eef4;
}

#navbar {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    padding: 15px 20px;
    /* required to not be inline for width and align */
    display: block;
    width: 100vw;
    background-color: #fb8500;
    text-align: left;
}

/* setting to important to keep the nav links constant */
navbar a {
    text-decoration: none;
    padding: 10px !important;
    color: black !important;
    font-weight: 800 !important;
}

navbar a:hover {
    text-decoration: underline;
}

#welcome-section {
    height: 100vh;
}

h1 {
    padding: 5px 20px;
    color: #023047;
}

h3 {
    font-weight: 200;
    color: gray;
}

p {
    padding: 20px;
    color: #023047;
}

/* splitting this out from #welcome-section
 * so that I can center it and add required styling
*/
.welcome-style {
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
}

.welcome-text {
    display: table-cell;
    vertical-align: middle;
}

/*
 * This is for the project tiles, the intention is to have them
 * be boxes that format as you add new ones dynamically
 */

.project-container {
    display: flex;
    height: 450px;
    flex-flow: row wrap;
    justify-content: space-around;
}

.project-tile {
    /* flex related style */
    width: 100px;
    height: 100px;
    margin: auto;

    /* tile related style */
    text-align: center;
    background-color: #219ebc;
    padding: 10px;
}

.project-tile a {
    text-decoration: none;
    color: black;
    font-weight: 800 !important;
}

.socials-container {
    display: flex;
    height: 200px;
    flex-flow: row;
    justify-content: space-around;
}

.socials-tile {
    width: 100px;
    height: 50px;
    margin: auto;
}

/*
 * Media query just changes the navbar color to white when
 * on a smaller screen; everything else is made responsive with
 * flexboxes
*/
@media only screen and (max-width: 600px) {
    #navbar {
        width: 100vw;
        background-color: white;
    }
}
